* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

ul {
  cursor: pointer;
  height: 50px;
}

li {
  margin-top: 20px;
  width: 1000px;
  cursor: pointer;
  list-style-type: none;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
  background-color: beige;
  position: relative;
}

li.strike {
  text-decoration: line-through;
}

li input {
  margin: 0 20px;
}

li:nth-child(odd) {
  background-color: bisque;
}

.right {
  position: absolute;
  right: 20px;
}

.delete {
  position: absolute;
  right: 20px;
}

.addItemInput {
  position: absolute;
  right: 350px;
  top: 75px;
}

#app {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}
.wrapper .camp {
  margin-left: 100px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgreen;
}
.wrapper .camp h4 {
  margin-top: 30px;
  font-size: 35px;
}
.wrapper .camp .camp-img {
  margin-bottom: 20px;
}
.wrapper .camp .description {
  width: 70%;
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.wrapper .camp .description span {
  margin-bottom: 10px;
}
.wrapper .camp .price {
  margin-bottom: 25px;
  font-size: 25px;
}
.wrapper .camp span {
  font-weight: bolder;
  font-size: 25px;
}
.wrapper .camp button {
  width: 100px;
  margin-bottom: 50px;
  height: 50px;
  background-color: whitesmoke;
}